.footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: left;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.add-icon {
  margin-right: 10px;
  cursor: pointer;
}

.add-icon i {
  color: #000;
  font-size: 20px;
  transition: color 0.3s ease;
}

.add-icon i.active,
.add-icon i.hover {
  color: blue;
}

.add-sheet-btn {
  border: 2px;
  background-color: transparent;
  color: #000;
  cursor: pointer;
  font-size: 14px;
}

.add-sheet-btn:focus {
  outline: none;
}

.add-sheet-btn:hover {
  color: blue;
}

.add-sheet-btn.active {
  text-decoration: underline;
}

.add-sheet-btn i.active,
.add-sheet-btn i.hover {
  color: blue;
  text-decoration: none;
}