.body {
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 100%;
    min-height: 500px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(182, 217, 241);
    border: 2px solid black;
  }
